<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elinsanotube</title>
    <style>
    @font-face {
        font-family: Quicksand;
        src: url("/static/font.ttf");
    }
    
    body {
        font-family: Quicksand !important;
    }
    </style>
    <meta content="LiteTube" property="og:title" />
    <meta content="AD-Free Open-Source YouTube Frontend That Prioritizes Simplicity And Ease Of Use." property="og:description" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
</head>
<body class="bg-gray-900">
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <a href="/" class="flex items-center">
                    <img src="https://shop.kidcudi.com/cdn/shop/files/INSANO_LOGO_x300.png?v=1692319731" style="height: 42px;" class="text-gray-100 font-bold"></img>
                </a>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-end">
                    <form method="get" action="/search" class="w-full sm:max-w-xs">
                        <div class="relative flex items-center justify-center">
                            <input type="text" name="q" id="search_query" class="bg-gray-800 text-gray-100 border-2 border-transparent rounded-md py-2 px-4 leading-5 placeholder-gray-400 focus:outline-none focus:border-gray-500 focus:ring-0.5 focus:ring-offset-0 focus:ring-offset-gray-900 focus:ring-gray-500 transition duration-150 ease-in-out" placeholder="Search for videos">
                            <button type="submit" class="absolute right-0 top-0 h-full w-10 text-gray-600 hover:text-gray-100 focus:outline-none focus:text-gray-100">
                                <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="search-icon w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.5 15.5l5.5 5.5"/>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10.5A4.5 4.5 0 1 1 9 6a4.5 4.5 0 0 1 5 4.5z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
        
                          </svg>
                    </a>
                                          
                </div>
            </div>
        </div>
    </nav>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

